@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron eigen">
    @if (!SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4"><span>Hello, Alcoholic!</span></h1>
        <p class="lead"><span>Wij van M&M Verkopen de beste whiskey!</span></p>
        <hr class="my-4">
        <p><span>REGISTREER VOOR GRATIS WHISKEY (of toch niet)</span></p>
        <a class="btn btn-danger btn-lg" href="#" role="button">KLIK DAN!</a>
    }
    else
    {
        <h1 class="display-4"><span>Hello, @(User.Identity.Name)!</span></h1>
        <p class="lead"><span>Wij van M&M Verkopen de beste whiskey!</span></p>
    }
    @if (!SignInManager.IsSignedIn(User))
    {

    }
</div>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="~/images/whiskeys/tullamore-dew-12-year-old-special-reserve-irish-whiskey-1_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tullamore Dew 12Y</h5>
                <p class="card-text">De oorspronkelijke Ierse whiskey, wereldwijd bekend vanwege zijn zachte en toegankelijke smaak. Het combineren van alle drie typen Ierse whiskey -grain whiskey's, pot still whiskey's en malt whiskey's - verzorgt dat zachte maar ook complexe karakter, wat Tullamore DEW onderscheidt van alle andere Ierse whiskey's.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="~/images/whiskeys/102280_glenfiddich_12-YO_scotch_whisky_700.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Glennfiddich 12Y</h5>
                <p class="card-text">De Glenfiddich distilleerderij is gelegen in de Schotse plaats Dufftown, in de Speyside regio en werd in 1886 opgericht door William Grant. Deze whisky is minimaal 12 jaar gerijpt in vaten van Amerikaans Eiken waar voorheen Bourbon in heeft gerijpt en vaten van Spaans eikenhout, waar voorheen sherry in heeft gerijpt.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="~/images/whiskeys/van-pokeren-zonder-verlies-naar-jellinek-advies.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eva Jellinek</h5>
                <p class="card-text">Jellinek is al ruim honderd jaar de expert op het gebied van middelengebruik en verslaving. Iedereen met een (hulp)vraag op dit gebied kan op ons rekenen: mensen die informatie, persoonlijk advies of behandeling nodig hebben, hun naasten en professionals. Jellinek is sterk in preventie en in wetenschappelijk bewezen behandeling.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="~/images/whiskeys/whiskeyrocks.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Start met drinken en bestel</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>