
@page "{whiskeyId:int?}"
@model SlijterijSjonnieLoper.Pages.Whiskeys.EditModel
@{
    @using SlijterijSjonnieLoper.Core
}


<h2>Editing @Model.Whiskey.Name</h2>

<form method="post">

    <input type="hidden" asp-for="Whiskey.Id" />
    <div class="form-group">
        <label asp-for="Whiskey.Name"></label>
        <input asp-for="Whiskey.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Percentage"></label>
        <input asp-for="Whiskey.Percentage" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Percentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Price"></label>
        <input asp-for="Whiskey.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Brand"></label>
        <select asp-for="Whiskey.Brand" class="form-control"
                asp-items="Model.WhiskeyBrands">
        </select>
        <span class="text-danger" asp-validation-for="Whiskey.Brand"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Type"></label>
        <select asp-for="Whiskey.Type" class="form-control"
                asp-items="Model.WhiskeyTypes">
        </select>
        <span class="text-danger" asp-validation-for="Whiskey.Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Area"></label>
        <select asp-for="Whiskey.Area" class="form-control"
                asp-items="Model.WhiskeyArea">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.AreaOptional"></label>
        <input asp-for="Whiskey.AreaOptional" class="form-control" />
        @*<span class="text-danger" asp-validation-for="Whiskey.AreaOptional"></span>*@
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" action="/Upload">
            <div>
                <p>Upload Label:</p>
                <input type="file" name="files" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <br />
    <button type="submit" class="btn btn-info">Save</button>
</form>

